<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.something.better">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/adix"
        android:label="@string/app_name"
        android:roundIcon="@drawable/adix"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
    <activity android:name="com.example.something.better.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name="com.example.something.better.FeedActivity"
            android:label="Upcoming AdixEvents List"/>
        <activity android:name="com.example.something.better.RegisterActivity" />
        <activity android:name="com.example.something.better.NewSocialActivity"
            android:label="Create AdixEvent">

        </activity>
        <activity android:name="com.example.something.better.DetailActivity" android:label="AdixEvent Details"/>
        <activity android:name="com.example.something.better.VerifyEmailActivity"
            android:label="Verify Email"/>
        <activity android:name="com.example.something.better.UsersInterestedActivity"></activity>

    </application>
</manifest>
